html, body {
    height: 100%;
}
.fill {
    min-height: 100%;
    height: 100%;
}
#teachers-list {
    max-height: 350px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.list-group-item {
    min-height: fit-content;
}