<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.cnr.istc.exploraa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ExPLoRAAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/exploraa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/exploraa_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavigatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".NewUserActivity" />
        <activity android:name=".EnrollActivity" />
        <activity android:name=".NewLessonActivity" />
        <activity android:name=".TopicsActivity" />
        <activity android:name=".TeachingLessonActivity" />
        <activity android:name=".FollowingLessonActivity" />
        <activity android:name=".StudentActivity" />
        <activity
            android:name=".TextStimulusActivity"
            android:documentLaunchMode="always"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".URLStimulusActivity"
            android:documentLaunchMode="always"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuestionStimulusActivity"
            android:documentLaunchMode="always"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".ExPLoRAAService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".ExPLoRAAServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>